<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background-color:transparent;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<title>金融宝登陆</title>
<script type="text/javascript" src="static/finabao/javascript/jquery-1.10.2.min.js?{VERHASH}"></script>
<script type="text/javascript" src="{$_G[setting][jspath]}common.js?{VERHASH}"></script>
<script type="text/javascript" src="{$_G[setting][jspath]}logging.js?{VERHASH}"></script>
<script type="text/javascript" src="static/finabao/javascript/json2.js?{VERHASH}"></script>
<link rel="stylesheet" href="static/finabao/nec/bootstrap.css?20140209" />
<link rel="stylesheet" href="static/finabao/nec/global.css?20140209" />
<link rel="stylesheet" href="static/finabao/nec/login.css?20140209" />
</head>
<!--{csstemplate}-->
<style type="text/css">
body	{ width: 270px; height: 310px; overflow:hidden; padding:0px; margin:0px;}
.b		{ border:1px solid #ccc;}
.login-box	{ font-size:12px; color:#fff; margin:5px 20px;}
.login-box .title	{ font:18px/36px \5fae\8f6f\96c5\9ed1,\5b8b\4f53; color:#fff; text-align:left; color:#fff; width:220px; border-bottom:2px solid #C63; margin-bottom:10px; padding-left:0px; padding-bottom:6px; }
</style>
<body style="background-color:transparent; width: 270px; height: 310px; overflow:hidden; padding:0px; margin:0px;">
<!--{if !$_G['uid']}-->
<form method="post" autocomplete="off" name="login" id="loginform_$loginhash" class="cl" onsubmit="ajaxpost('loginform_$loginhash', 'returnmessage_$loginhash', 'returnmessage_$loginhash', 'onerror');return false;" action="index.php?mod=iframe&action=login&loginhash=$loginhash">
<input type="hidden" name="formhash" value="{FORMHASH}" />
<input type="hidden" name="referer" value="{echo dreferer()}" />
<input type="hidden" name="loginsubmit"	value="true" />
<!--{if $auth}-->
<input type="hidden" name="auth" value="$auth" />
<!--{/if}-->

<div class="login-box">
	<div class="title f-ff2">登录金融宝</div>
	<div class="isiframe">
    	<div class="inplist" id="login_error_box" style="position:relative; margin-bottom:5px; display:none;"><i style="display:block; width:16px; height:16px; background-image:url(static/finabao/images/pc.de-cologne-icon-pack/16x16/lightbulb.png); position:absolute; top:5px; left:7px;"></i><div style="width:200px; overflow:visible; height:auto; border:1px solid #999; background-color:#FC9; color:#F30;padding:3px 3px 2px 25px;" id="login_error_msg"></div></div>
		<div class="inplist" style="position:relative; margin-bottom:15px;"><input type="text" name="u_$loginhash" id="username_$loginhash" style="background-repeat:no-repeat;background-image:url('static/finabao/images/form_login.gif'); padding-left:40px; width:182px;" class="u-ipt user" value="" onblur="if(this.value=='') $('enter_name').style.display='';" onkeypress="$('enter_name').style.display='none';" onclick="$('enter_name').style.display='none';" tabindex="1" maxlength="20" autocomplete="off"><span class="enter_tips" style="position:absolute; top:6px; left:40px; color:#999;" id="enter_name" onclick="this.style.display='none'; $('username_$loginhash').focus();">用户名/手机号码/Email地址</span></div>
		<div class="inplist" style="position:relative; margin-bottom:15px;"><input type="password" id="password3_$loginhash" name="p_$loginhash" style="background-repeat:no-repeat;background-image:url('static/finabao/images/form_login.gif'); background-position:0px -50px;padding-left:40px; width:182px;" class="u-ipt pass" onblur="if(this.value=='') $('enter_psw').style.display='';" onfocus="$('enter_psw').style.display='none'; this.value=''" onclick="$('enter_psw').style.display='none';" tabindex="2" maxlength="20"><span class="enter_tips" id="enter_psw" style="position:absolute; top:7px; left:40px; color:#999;" onclick="this.style.display='none'; $('password_$loginhash').focus();">请输入登录密码</span></div>
		<div class="inplist" style="position:relative; margin-bottom:15px;"><input type="text" id="safekey_$loginhash" name="a_$loginhash" style="background-repeat:no-repeat;background-image:url('static/finabao/images/form_login.gif?efefasdf'); background-position:0px -75px;padding-left:40px; width:182px;" title="升级为安全码登录有助于加固您的帐号" class="u-ipt skey" onblur="if(this.value=='') $('enter_safekey').style.display='';" onfocus="$('enter_safekey').style.display='none';" onclick="$('enter_safekey').style.display='none';" tabindex="3" maxlength="20"><span class="enter_tips" id="enter_safekey" style="position:absolute; top:6px; left:40px; color:#999;" onclick="this.style.display='none'; $('safekey_$loginhash').focus();">请输入安全码 <i style="color:#39F">未设置请留空</i></span></div>
		<div class="inplist checkbox" style="margin-bottom:5px; _position:relative; _left:-25px; width:215px; _width:240px;">
			<a href="javascript:;" class="f-fr" style="color:#39C">忘记密码？</a>
			<label for="cookietime_$loginhash" style="color:#666; font-weight:normal;"><input type="checkbox" class="pc" name="cookietime" id="cookietime_$loginhash" value="2592000" $cookietimecheck />&nbsp;&nbsp;记住我的帐号</label>
		</div>
		<div class="inplist"><button type="submit" name="loginsubmit" value="true" class="btn btn-info" tabindex="5" style="width:100%; width:227px; _width:230px;">登 录</button></div>
		<div class="inplist"></div>
	</div>
</div>
<!--{else}-->
<div class="login-box">
	<div id="legend" class="title">我的用户信息</div>
    <div class="control-group" style="padding-top:10px;">
		<div style="width:170px; height:50px; float:right; vertical-align:top;"><span>[<a href="member.php?mod=logging&action=logout&formhash={FORMHASH}&referer=index.php" target="_parent" style="color:#fff">{lang logout}</a>]</span><h2 style="font-size:14px;"><a href="home.php?mod=space&uid=$_G['uid']" style="color:#fff" target="_parent">$_G['username']</a></h2><h2 style="font-size:14px;">$_G['member']['email']</h2></div>
		<div style="width:50px; height:50px;overflow:hidden; vertical-align:middle;"><a href="home.php?mod=spacecp&ac=avatar" target="_parent"><!--{avatar($_G[uid],small)}--></a></div>
    </div>
    <div class="control-group">
		<label>账户可用余额：</label>
        <div class="control-label">
			<div style=" font-size:16px; font-weight:bold; color:#C30;">$settle['usable']</div>
        </div>
    </div>
    <div class="control-group"><hr style="border:1px dashed #ccc;" /></div>
    <div class="control-group">
        <a href="index.php?mod=account" class="btn-login" target="_parent">进入我的账户</a>
    </div>
    <div class="control-group">
		<label>最后登陆：</label>
        <div class="control-label">
        	<ul>
            	<li>$lastactivity</li>
			</ul>
        </div>
    </div>
</div>
<!--{/if}-->
<div id="loginLoading" class="Loading"><img src="static/finabao/images/ajaxloading.gif" /><p>Loading...</p></div>
<script type="text/javascript">
jQuery("#loginform_$loginhash").submit(function(){
	var userName	=	jQuery("#username_$loginhash").val();
	var passWord	=	jQuery("#password3_$loginhash").val();
	if(userName.length < 5 || passWord.length < 5){
		showLoginError("用户名或密码输入错误");
		return false;
	}
	jQuery.post(this.action, jQuery("#loginform_$loginhash").serialize(), function(data){																			  
		ajaxLayer(data['message'], 2000);
		if(data['reload']){
			setTimeout('parent.location.reload()',1500);
		}
	}, "json");
	return false;
});
function ajaxLayer(str, d){
	jQuery(".isiframe").hide(1).delay(d).show(1);
	jQuery("#loginLoading p").text(str);
	jQuery("#loginLoading").show(1).delay(d).hide(1);	
}
function showLoginError(msg){
	jQuery("#login_error_box").show();
	jQuery("#login_error_msg").html(msg);
}
jQuery(document).ready(function() {
	jQuery("#loginLoading").hide(1);		
});
</script>
<!--{eval updatesession();}-->
</body>
</html>
