@charset "utf-8";
/* CSS Document */
.isfloat 	{ width:650px; height:300px; border-top:2px solid #f60; background-color:#f9f9f9;}
.isfloat	.u-ipt	{ 
	width:170px;
	height:18px; 
	overflow:hidden; 
	border:1px solid #ccc; 
	padding-left:40px;
	border-radius:2px;
	color:#808080;
	vertical-align:middle; 
	overflow:hidden; 
	background-repeat:no-repeat;
	background-image:url("../../../static/finabao/images/form_login.png");
	background-position:0px 0px;
	_background-image:url("../../../static/finabao/images/form_login.gif") ; 
	box-shadow:1px 1px 1px 0px #eaeaea inset; 
	-moz-box-shadow:1px 1px 1px 0px #eaeaea inset; 
	-webkit-box-shadow:1px 1px 1px 0px #eaeaea inset; 
	background-color:#fff;
	height:18px;
}
.isfloat	.u-ipt:focus,.isfloat	input:hover	{border-color:#F60;}
.isfloat	.user	{ background-position:0px 0px;}
.isfloat	.skey	{ background-position:0px -75px;}
.isfloat	.pass	{ background-position:0px -50px;}
.isfloat	.inplist	{ margin-bottom:15px; position:relative;}
.isfloat	.m-input	{ margin-right:30px; float:right;}
.isfloat	.enter_tips	{ position:absolute; left:45px; color:#999; top:8px;}

.isiframe	{width: 270px; height: 310px; overflow:hidden; padding:0px; margin:0px; padding-top:5px;}
.isiframe	.user	{ background-position:0px 0px;}
.isiframe	.skey	{ background-position:0px -75px;}
.isiframe	.pass	{ background-position:0px -50px;}
.isiframe	.enter_tips	{ position:absolute; left:45px; color:#999; top:5px;}

.isprofile	.u-ipt	{
	width:170px;
	height:18px; 
	overflow:hidden; 
	border:1px solid #ccc; 
	padding-left:40px;
	border-radius:2px;
	color:#808080;
	vertical-align:middle; 
	overflow:hidden; 
	background-repeat:no-repeat;
	background-image:url("../../../static/finabao/images/form_login.png");
	background-position:0px 0px;
	_background-image:url("../../../static/finabao/images/form_login.gif") ; 
	box-shadow:1px 1px 1px 0px #eaeaea inset; 
	-moz-box-shadow:1px 1px 1px 0px #eaeaea inset; 
	-webkit-box-shadow:1px 1px 1px 0px #eaeaea inset; 
	background-color:#fff;
	height:18px;	
}
.isprofile		{ }
.isprofile	.u-ipt:focus,.isprofile	input:hover	{border-color:#F60;}
.isprofile	.pass	{ background-position:0px -50px;}
.isprofile	.skey	{ background-position:0px -75px;}
.isprofile	.email	{ background-position:0px -25px;}
