<!--{template common/header}-->

<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G['setting']['bbname']</a> <em>&rsaquo;</em>
		<!--{if empty($_GET[action])}-->
			客户服务
		<!--{else}-->
			<a href="misc.php?mod=faq">{lang faq}</a>$navigation
		<!--{/if}-->
	</div>
</div>
<style type="text/css">
.nav-class-list	li	{ border-left:3px solid #999; background:#e8e8e8; font-size:14px; border-bottom:1px solid #FFF;border-right:1px solid #ccc;}
.nav-class-list	li a	{ color:#069}
</style>
<div class="container">
    <div class="row">
    	<div class="col-xs-3 nav-class-list">
			<ul class="nav nav-list">
				<!--{loop $faqparent $fpid $parent}--><li><a href="misc.php?mod=faq&action=faq&id=$fpid">$parent[title]</a></li><!--{/if}-->
			</ul>
    	</div>
        <div class="col-xs-9">
			<form method="post" autocomplete="off" action="misc.php?mod=faq&action=search" class="y mtn pns">
				<input type="hidden" name="formhash" value="{FORMHASH}" />
				<input type="hidden" name="searchtype" value="all" />
                <div class="input-group">
				<input type="text" name="keyword" size="16" value="$keyword" class="form-control" style="width:150px;" />
				<button type="submit" name="searchsubmit" class="btn btn-info" value="yes"><em>{lang search}</em></button>
                </div>
			</form>
			<!--{if empty($_GET[action])}-->
				<h1 class="mt mbm">{lang all}{lang faq}</h1>
				<div class="lum">
					<!--{loop $faqparent $fpid $parent}-->
						<h2 class="blocktitle"><a href="misc.php?mod=faq&action=faq&id=$fpid">$parent[title]</a></h2>
						<ul name="$parent[title]">
							<!--{loop $faqsub[$parent[id]] $sub}-->
								<li><a href="misc.php?mod=faq&action=faq&id=$sub[fpid]&messageid=$sub[id]">$sub[title]</a></li>
							<!--{/loop}-->
						</ul>
					<!--{/loop}-->
				</div>
			<!--{elseif $_GET[action] == 'faq'}-->
				<h1 class="mt mbm">$ctitle</h1>
				<!--{loop $faqlist $faq}-->
					<div id="messageid$faq[id]_c" class="umh{if $messageid != $faq[id]} umn{/if}">
						<h3 onclick="toggle_collapse('messageid$faq[id]', 1, 1);">$faq[title]</h3>
						<div class="umh_act">
							<p class="umh_cb" onclick="toggle_collapse('messageid$faq[id]', 1, 1);">[ {lang open} ]</p>
						</div>
					</div>
					<div class="um" id="messageid$faq[id]" style="{if $messageid != $faq[id]} display: none {/if}">$faq[message]</div>
				<!--{/loop}-->
			<!--{elseif $_GET[action] == 'search'}-->
				<h1 class="mt mbm">{lang keyword_faq}</h1>
				<!--{if $faqlist}-->
					<!--{loop $faqlist $faq}-->
						<div class="umh schfaq"><h3>$faq[title]</h3></div>
						<div class="um">$faq[message]</div>
					<!--{/loop}-->
				<!--{else}-->
					<p class="emp">{lang faq_search_nomatch}</p>
				<!--{/if}-->
			<!--{elseif $_GET[action] == 'plugin' && !empty($_GET['id'])}-->
				<!--{eval include(template($_GET['id']));}-->
			<!--{/if}-->        
        </div>
    </div>
</div>



<!--{template common/footer}-->