<style type="text/css">
.m-sidebar	{ margin-top:25px;background-color: #F8F8F8;border: 1px solid #D8D8D8;border-radius: 2px 2px 0 0;min-height:400px;}
.m-sidebar-account{height:auto;width:100%;background:#fff;border-bottom: 1px solid #D8D8D8;position:relative;}
.m-sidebar-account .avatar{height:64px;width:64px;border: 1px solid #D8D8D8;position:absolute;background:#fff;overflow:hidden;padding:2px;top:-34px;left:-1px;_top:-33px;}
.m-sidebar-account .avatar img	{width:64px;height:64px;}
.m-sidebar-account .m-verifyico{height:35px;border-bottom: 1px solid #d6dcec;background:#eff8ff;}
.m-sidebar-account .m-verifyico	li	{ float:right; list-style-type:none; width:35px; height:35px; border-left: 1px solid #d6dcec;text-align:center;}
.m-sidebar-account .m-verifyico	li	a{ display:inline-block; width:35px; height:35px; }
.m-sidebar-account .content	{ padding:15px;}
.m-sidebar-setting      { min-height: 180px;border-bottom: 1px solid #d6dcec;}
.m-sidebar .title   { height: 30px; color: #777; background:#eff8ff; border-bottom: 1px solid #d6dcec; padding:2px 10px;}
.ver-ico-email, .ver-ico-mobile, .ver-ico-work, .ver-ico-idcard, .ver-ico-houes		{ width:16px; height:16px; display:block; margin:10px;}
.ver-ico-email	{ background-image:url("static/finabao/images/dortmund-16x16/email.png");}
.ver-ico-mobile	{ background-image:url("static/finabao/images/dortmund-16x16/phone.png");}
.ver-ico-work	{ background-image:url("static/finabao/images/dortmund-16x16/business-contact.png");}
.ver-ico-idcard	{ background-image:url("static/finabao/images/dortmund-16x16/suppliers.png");}
.ver-ico-houes	{ background-image:url("static/finabao/images/dortmund-16x16/home.png");}
.m-applist		{ margin:15px 10px;_margin:15px 0px;}
.m-applist	li	{ display:block; height:50px; width:190px; float:left; margin:6px 13px; _margin:6px 10px; _width:200px; overflow:hidden;}
.m-sidebar-app	{ background-color:#fff;}
.appico-ccard	{ display:block; width:50px; height:50px; background:url("static/finabao/images/23243.png")}
.m-sidebar-setting	ul	{ margin:20px 0px;}
.m-sidebar-setting	li	{ text-align:left; position:relative; }
.m-sidebar-setting	li a{ vertical-align:middle; display:block; height:18px; font-size:16px; margin-bottom:10px; padding:10px; border-left:none; border-right:none; padding-left:80px;}
.m-sidebar-setting	h3	{ font-weight:normal;}
.m-sidebar-setting	li a:hover	{ border: 1px solid #F40; height:16px; line-height:16px; background-color:#fff; border-left:none; border-right:none;}
.m-setting-ico1, .m-setting-ico2, .m-setting-ico3, .m-setting-ico4, .m-setting-ico5{ background:url("static/finabao/images/re.png"); display:block; width:20px; height:20px; position:absolute; left:40px; top:10px;}
.m-setting-ico2		{ background-position:0px -20px; height:14px; top:12px;}
.m-setting-ico3		{ background-position:0px -34px; height:14px; top:12px;}
.m-setting-ico4		{ background-position:0px -50px;}
.m-setting-ico5		{ background-position:0px -70px;}
</style>
<!--{eval include libfile('function/forumlist');}-->
<div class="m-sidebar">
	<div class="m-sidebar-account">
		<div class="m-verifyico">
			<li class=""><a href="javascript:void(0);" title=""><i class="ver-ico-houes"></i></a></li>
			<li class=""><a href="javascript:void(0);" title=""><i class="ver-ico-work"></i></a></li>
			<li class=""><a href="javascript:void(0);" title=""><i class="ver-ico-idcard"></i></a></li>
			<li class=""><a href="javascript:void(0);" title=""><i class="ver-ico-mobile"></i></a></li>
			<li class=""><a href="javascript:void(0);" title=""><i class="ver-ico-email"></i></a></li>
			<li class="" style="border:none;"><a href="" title=""></a></li>
		</div>            
        <div class="content">
			<div>会员等级： $_G['group']['grouptitle'] <i style="position:relative;top:3px; left:10px;"><!--{echo showstars($_G['group']['stars']);}--></i></div>
			<div style="margin:10px 0px;">账户安全：</div>
        </div>
    	<div class="avatar"><a href="home.php?mod=space&uid=$_G[uid]"><!--{avatar($_G[uid],middle)}--></a></div>
    </div>
    <div class="m-sidebar-setting">
        <div class="title">会员功能中心</div>
        <ul class="f-ff1">
        	<li data-id="1"><i class="m-setting-ico1"></i><a href="home.php?mod=spacecp">个人资料设置</a></li>
            <li data-id="2"><i class="m-setting-ico2"></i><a href="index.php?mod=risk">信用认证中心</a></li>
            <li data-id="3"><i class="m-setting-ico3"></i><a href="home.php?mod=space&do=pm">金融宝消息中心</a></li>
            <li data-id="4"><i class="m-setting-ico4"></i><a href="javascript:;">借款还款计划</a></li>
            <li data-id="5"><i class="m-setting-ico5"></i><a href="javascript:;">投资收益情况</a></li>
        </ul>
    </div>
    <div class="m-sidebar-app">
        <div class="title">我的应用</div>
        <ul class="m-applist f-cb">
        	<li><a href="index.php?mod=creditcard"><span class="appico-ccard"></span><div style="position:relative;"><h3 style="position:absolute; top:-45px; color:#666; font-size:14px; left:65px;">信用卡管理中心</h3><span style="position:absolute; left:65px; top:-20px; color:#069">轻松用卡 免去账单烦恼</span></div></a></li>
        </ul>
    </div>
    <div class="m-sidebar-faq">
        <div class="title">常见问题</div>
    </div>
</div>