<!--{template common/header}-->
<div class="lineH"></div>
<div style="width:750px; margin:0 auto; text-align:center;">
	<div><img src="static/finabao/images/BSIE6.jpg" /></div>
    <div class="lineH"></div>
    <div style="font-size:14px; color:#366;">如果您看到了这个页面，那么您可能正在使用已经被淘汰的IE6浏览器，为了得到更好的用户体验，请下载新版本！</div>
    <div class="lineH"></div>
    <div><a href="javascript:;" class="btn btn-info" onclick="hideWindow('$_GET['handlekey']');" title="{lang close}">关闭</a></div>
    <div class="lineH"></div>
</div>
<!--{template common/footer}-->